@tailwind base;

body {
  background-color: #fff;
}

a {
  color: #0295fe;
}

*:focus,
button:focus {
  outline: 0;
}

textarea {
  @apply w-full mt-8 h-64 p-3 rounded border;
}

.task-button {
  @apply w-full text-center bg-gray-100 cursor-pointer p-1 mt-2;
}

.button {
  @apply text-2xl rounded-sm;
}

.nav-container {
  @apply text-center;
}

.nav-container span {
  @apply m-3 cursor-pointer;
}

.selected {
  border-bottom: 3px solid #333;
}

.title-2 {
  @apply text-center w-full text-2xl mt-3 font-semibold font-serif mb-5;
}

@tailwind components;
@tailwind utilities;
